@model IEnumerable<Receitas.Models.Receita>

@{
    ViewData["Title"] = "Suas Receitas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"> <i class="fa-solid fa-plus"></i> </>Nova Receita</a>
</p>
<form asp-action="Index" method="get" >
    <div class="form-group">
       @*  <label for="titulo">Pesquisar por título</label> *@
        <div class="input-group">
          
            <input type="text" name="titulo" class="form-control" id="titulo" placeholder="Digite o título da sua receita" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </div>
    
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Ingredientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModoPreparo)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoPreparo)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.NivelDificuldade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Ingredientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoPreparo)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoPreparo)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.NivelDificuldade)
                </td>

            <td>
                    <a asp-action="Edit" title="Editar"class="btn btn-outline-warning" asp-route-id="@item.Id"><span class="fa-regular fa-pen-to-square"></span></a> |
                    <a asp-action="Details" title="Detalhes"class="btn btn-outline-info" asp-route-id="@item.Id"><span class="fa fa-search"></span></a> |
                    <a asp-action="Delete" title="Excluir" class="btn btn-outline-danger" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
